* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --main-bg: #141922;
    --sidebar-bg: #000000;
    --footer-bg: #282828;
    --header-bg: #080b12;
    --text-color: #707277;
    --title-color: #ffffff;
    --border-greenyellow: #a9f92f;
}

body {
    overflow: hidden;
}

/* .debug .sidebar {
    border: 1px solid blue;
} */

.debug .content {
    border: 1px solid red;
}

.debug .bottom {
    border: 1px solid green;
}

.col-6 {
    width: calc((100% - 12) * 6);
}


.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.wrapper {
    height: 100vh;
}

.top {
    display: flex;
    height: calc(100% - 80px);

    .sidebar {
        height: 100%;
        background-color: var(--sidebar-bg);
        width: 50px;
        padding: .6rem 0;

        .sidenav {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            img {
                width: 25px;
                margin-left: .5rem;
                padding: .3rem 0;
            }

            span,
            h4,
            .logo-s {
                display: none;
            }

            .profile {
                img {
                    width: 25px;
                    background-color: var(--text-color);
                    border: 1px solid transparent;
                    border-radius: 100%;
                }
            }

        }
    }

    .content {
        width: calc(100% - 50px);
        overflow-y: auto;
        background-color: var(--main-bg);
    }
}

.bottom {
    height: 80px;
    background-color: var(--footer-bg);
}





@media screen and (min-width: 600px) {
    .top {
        .sidebar {
            width: 245px;

            .sidenav {

                span,
                h4 {
                    display: block;
                }

                .profile {
                    margin: 0;
                    margin-left: .2rem;
                }

                .images {
                    color: var(--title-color);

                    .logo {
                        .logo-xs {
                            display: none;
                        }

                        .logo-s {
                            display: block;
                            width: 120px;
                            padding: .3rem 0 .8rem 0;
                        }
                    }

                    span {
                        padding-left: .2rem;
                        color: var(--text-color);
                    }

                    .home-image {
                        border-left: 1px solid var(--border-greenyellow);
                    }

                    .text-home-color {
                        color: var(--title-color);
                    }

                    .playlist {
                        h4 {
                            padding: 1rem 0 0 .4rem;
                        }

                        p {
                            color: var(--text-color);
                            padding: .4rem 0 .4rem .6rem;
                        }

                        .create-playlist {
                            padding: .3rem 0 1rem .4rem;

                            i {
                                background-color: var(--text-color);
                                color: var(--header-bg);
                                width: 1.4rem;
                                padding: .2rem 0;
                                text-align: center;
                            }
                        }
                    }
                }

                .download-profile {
                    color: var(--text-color);

                    span {
                        padding-left: .6rem;

                        strong {
                            color: var(--title-color);
                        }
                    }

                    .divisor {
                        height: 1px;
                        color: var(--text-color);
                        border: 1px solid;
                        width: 95%;
                        margin: .3rem .2rem;
                    }
                }

            }

        }

        .content {
            width: calc(100% - 245px);
        }
    }
}

@media screen and (min-width: 700px) {}

@media screen and (min-width: 1200px) {}