* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --main-bg: #141922;
    --sidebar-bg: #000000;
    --footer-bg: #282828;
    --header-bg: #080b12;
    --text-color: #707277;
    --title-color: #ffffff;
    --border-greenyellow: #a9f92f;
}

body {
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
}

/* .debug .content {

    header {
        border: 1px solid #a9f92f;
    }
} */

.debug .bottom {
    border: 1px solid green;
}

.col-12 {
    width: 100%;
}

.col-6 {
    width: calc((100% / 12) * 6);
}


.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 92%;
    margin: auto;
}

.wrapper {
    height: 100vh;
}

.top {
    display: flex;
    height: calc(100% - 80px);

    .sidebar {
        height: 100%;
        background-color: var(--sidebar-bg);
        width: 50px;
        padding: .6rem 0;

        .sidenav {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            img {
                width: 25px;
                margin-left: .5rem;
                padding: .3rem 0;
            }

            span,
            h4,
            .logo-s {
                display: none;
            }

            .profile {
                img {
                    width: 25px;
                    background-color: var(--text-color);
                    border: 1px solid transparent;
                    border-radius: 200px;
                    padding: .2rem;
                }
            }

        }
    }

    .content {
        width: calc(100% - 50px);
        overflow-y: auto;
        background-color: var(--main-bg);

        header {
            padding: 1.4rem 0;
            background-color: var(--header-bg);
            position: sticky;
            top: 0;
            opacity: 0.6;
            position: relative;
            padding: 2.5rem 0;

            .title-header {
                width: 210px;
                border: 1px solid var(--title-color);
                border-radius: 50px;
                position: absolute;
                right: 1px;
                top: 25px;

                h1 {
                    color: var(--title-color);
                    font-size: .8rem;
                    padding: .4rem;
                    text-align: center;
                }
            }

        }

        .sound-choices {
            color: var(--text-color);
            padding: .8rem 0;
            row-gap: 1.2rem;
            font-size: .7rem;
            font-weight: 700;

            div {
                padding-right: .6rem;
                margin: 0 auto;

              /*   span {
                    padding-top: 0rem;
                padding-bottom: .5rem;
                } */

                hr {
                    background-color: var(--border-greenyellow);
                    height: 1.4px;
                    width: 30px;
                    margin: .2rem auto;

                }
            }
        }

        h2 {
            color: var(--title-color);
            font-size: 1.4rem;
        }

        h3 {
            font-size: .8rem;
            text-align: center;
            color: var(--title-color);
        }

        .card {
            img {
                width: 100%;
                padding-right: .5rem;
                padding-top: .5rem;
            }
        }

        .populari,
        .for-you,
        .recently-played {
            padding: 1rem 0;
            span {
                font-size: .6rem;
                display: block;
                text-align: start;
                color: var(--text-color);
                padding-top: .3rem;
                padding-bottom: .5rem;
            }
        }

        .recently-played {
            h2 {
                padding-bottom: .8rem;
            }
            span{
                text-align: center;
            }
        }

    }
}

.bottom {
    height: 80px;
    background-color: var(--footer-bg);
}





@media screen and (min-width: 600px) {
    .top {
        .sidebar {
            width: 245px;

            .sidenav {

                span,
                h4 {
                    display: block;
                }

                .profile {
                    margin: 0;
                    margin-left: .2rem;
                }

                .images {
                    color: var(--title-color);

                    .logo {
                        .logo-xs {
                            display: none;
                        }

                        .logo-s {
                            display: block;
                            width: 120px;
                            padding: .3rem 0 .8rem 0;
                        }
                    }

                    span {
                        padding-left: .2rem;
                        color: var(--text-color);
                    }

                    .home-image {
                        border-left: 1px solid var(--border-greenyellow);
                    }

                    .text-home-color {
                        color: var(--title-color);
                    }

                    .playlist {
                        h4 {
                            padding: 1rem 0 0 .4rem;
                        }

                        p {
                            color: var(--text-color);
                            padding: .4rem 0 .4rem .6rem;
                        }

                        .create-playlist {
                            padding: .3rem 0 1rem .4rem;

                            i {
                                background-color: var(--text-color);
                                color: var(--header-bg);
                                width: 1.4rem;
                                padding: .2rem 0;
                                text-align: center;
                            }
                        }
                    }
                }

                .download-profile {
                    color: var(--text-color);

                    span {
                        padding-left: .6rem;

                        strong {
                            color: var(--title-color);
                        }
                    }

                    .divisor {
                        color: var(--text-color);
                        border: 1px solid;
                        width: 95%;
                        margin: .3rem .2rem;
                    }
                }

            }

        }

        .content {
            width: calc(100% - 245px);
        }
    }
}

@media screen and (min-width: 640px) {
    .col-s-3 {
        width: calc((100% / 12) * 3);
    }
}

@media screen and (min-width: 700px) {
    .col-lg-2 {
        width: calc((100% / 12) * 2);
    }
}

@media screen and (min-width: 1200px) {}